<div class="drag-item" cdkDrag [cdkDragData]="'Texto corto'">
  Arrastra este texto
</div>
<div #el class="drag-item" cdkDrag [cdkDragData]="'Texto corto'">
  Arrastra este texto
</div>

<div class="grid-container">
  <!-- Contenedor de cuadrados (todos tendrán el mismo ancho) -->
  <div *ngFor="let linea of lines; let lineIndex = index" class="input-group">
    <div class="square-container" [style.width]="maxWidth">
      <mat-card
        class="square"
        *ngFor="let acorde of linea.acordes; let squareIndex = index"
        cdkDropList
        [cdkDropListData]="acorde"
      >
        <div class="square-content" cdkDrag [cdkDragData]="acorde.acorde">
          {{ (acorde?.acorde || "") + (acorde?.variacion || "") }}
        </div>
      </mat-card>
    </div>

    <!-- Input con ancho igual a maxWidth -->
    <mat-form-field
      appearance="outline"
      class="input-field"
      [style.width]="maxWidth"
    >
      <mat-label>Texto</mat-label>
      <input
        matInput
        [(ngModel)]="linea.letra"
        placeholder="Texto recibido"
        [style.width]="maxWidth"
      />
    </mat-form-field>
  </div>
</div>

<!-- Campo de entrada de texto -->
