<div class="grid-container">
  <div *ngFor="let linea of lines" class="input-group">
    <div class="square-container" [style.width]="maxWidth">
      <mat-card
        class="square"
        *ngFor="let acorde of linea.acordes; let squareIndex = index"
      >
        <!-- Botón "x" para limpiar el contenido textual (solo visible si hay contenido) -->
        <button
          *ngIf="acorde.acorde"
          class="delete-button"
          (click)="eliminarAcorde(linea.nLinea, squareIndex)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="15px"
            viewBox="0 -960 960 960"
            width="15px"
            fill="#999999"
          >
            <path
              d="m291-240-51-51 189-189-189-189 51-51 189 189 189-189 51 51-189 189 189 189-51 51-189-189-189 189Z"
            />
          </svg>
        </button>
        <!-- Contenido del acorde -->
        <div class="square-content" cdkDrop>
          {{ acorde.acorde
          }}<span *ngIf="acorde.variacion">{{ acorde.variacion }}</span>
        </div>
      </mat-card>
    </div>
    <!-- Campo de entrada de texto -->
    <mat-form-field
      appearance="outline"
      class="input-field"
      [style.width]="maxWidth"
    >
      <mat-label>Texto</mat-label>
      <input matInput [(ngModel)]="linea.letra" placeholder="Texto recibido" />
    </mat-form-field>
  </div>
</div>
<aside>
  <div class="contenedor">
    <!-- Contenedor de Acordes (Expandible con animación) -->
    <div
      class="acordes-container"
      [@expandir]="tonalidadExpandida ? 'expandido' : 'colapsado'"
    >
      <div
        *ngFor="
          let acorde of getAcordesDeTonalidad(tonalidadExpandida);
          let i = index
        "
        [dndDraggable]="acorde"
        (dndCopied)="onDragged($event, 'copy')"
        (dndEnd)="onDragEnd($event)"
        (dndLinked)="onDragged($event, 'link')"
        (dndMoved)="onDragged($event, 'move')"
        (dndStart)="onDragStart($event)"
        (dndCanceled)="onDragged($event, 'none')"
        class="acorde-box"
      >
        {{ acorde }}
      </div>
    </div>

    <!-- Lista de Tonalidades -->
    <div class="tonalidades-container">
      <div
        *ngFor="let tonalidad of tonalidades"
        class="tonalidad-box"
        [class.seleccionada]="tonalidadExpandida === tonalidad"
        (click)="seleccionarTonalidad(tonalidad)"
      >
        {{ tonalidad }}
      </div>
    </div>
  </div>
</aside>
