<p>Canciones-list-component</p>

<table
  mat-table
  [dataSource]="this.cancionesList"
  class="mat-elevation-z8 demo-table"
>
  <!-- Título -->
  <ng-container matColumnDef="titulo">
    <th mat-header-cell *matHeaderCellDef>Título</th>
    <td
      mat-cell
      *matCellDef="let element"
      [routerLink]="['/canciones/search/', element.titulo]"
    >
      {{ element.titulo }}
    </td>
  </ng-container>

  <!-- Género -->
  <ng-container matColumnDef="genero">
    <th mat-header-cell *matHeaderCellDef>Género</th>
    <td mat-cell *matCellDef="let element">{{ element?.genero }}</td>
  </ng-container>

  <!-- Artista -->
  <ng-container matColumnDef="artista">
    <th mat-header-cell *matHeaderCellDef>Artista</th>
    <td mat-cell *matCellDef="let element">{{ element?.artista }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
