<div *ngIf="!cargado" class="spinner-container">
  <mat-spinner color="primary"></mat-spinner>
</div>
<div *ngIf="cargado">
  <ng-container *ngIf="cancion?.lineas">
    <app-text-boxes
      [lines]="cancion.lineas"
      [bin]="this.binary"
      [tonalidad]="this.cancion.tonalidad"
    ></app-text-boxes>
  </ng-container>
  <div class="submit-container">
    <button
      [disabled]="this.cancion.lineas?.length === 0"
      mat-raised-button
      color="primary"
      (click)="enviarCancion()"
    >
      Enviar canción
    </button>
  </div>
</div>
