<div class="parent" *ngIf="!isLoading" #contentToExport>
  <div class="div1">
    <mat-card class="song-card">
      <div class="card-header">
        <div class="header-text">
          <h2 class="title">{{ cancion.titulo }}</h2>
          <h3 class="artist">{{ cancion.artista || "Anónimo" }}</h3>
          <p *ngIf="cancion.comentario != 'No'" class="description">
            {{ cancion.comentario }}
          </p>
          <div class="tags">
            <mat-chip-listbox>
              <mat-chip *ngIf="cancion.capo">Capo: {{ cancion.capo }}</mat-chip>
              <mat-chip>{{ cancion.tonalidad }}</mat-chip>
            </mat-chip-listbox>
          </div>
        </div>
        <div class="rating-fav no-print" *ngIf="isLoggedIn">
          <mat-icon
            class="favorite-icon no-print"
            (click)="toggleFavorito()"
            [ngClass]="{ favorito: esFavorito }"
          >
            {{ esFavorito ? "favorite" : "favorite_border" }}
          </mat-icon>
          <button
            mat-icon-button
            class="no-print print"
            style="margin-left: 0"
            (click)="print()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#0000008a"
            >
              <path
                d="M640-640v-120H320v120h-80v-200h480v200h-80Zm-480 80h640-640Zm560 100q17 0 28.5-11.5T760-500q0-17-11.5-28.5T720-540q-17 0-28.5 11.5T680-500q0 17 11.5 28.5T720-460Zm-80 260v-160H320v160h320Zm80 80H240v-160H80v-240q0-51 35-85.5t85-34.5h560q51 0 85.5 34.5T880-520v240H720v160Zm80-240v-160q0-17-11.5-28.5T760-560H200q-17 0-28.5 11.5T160-520v160h80v-80h480v80h80Z"
              />
            </svg>
          </button>
          <div class="rating no-print" *ngIf="!blockRating">
            <mat-icon
              *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
              (click)="rate(i + 1)"
              (mouseenter)="hoverRating = i + 1"
              (mouseleave)="hoverRating = 0"
              [class.active]="(hoverRating || cancion.rating || 0) >= star"
            >
              {{ getStarType(star, hoverRating || cancion.rating || 0) }}
            </mat-icon>
          </div>

          <div class="rating no-print" *ngIf="blockRating">
            <mat-icon *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
              {{ getStarType(star, rating || 0) }}
            </mat-icon>
          </div>
        </div>
      </div>
    </mat-card>
  </div>

  <div *ngIf="cargado" class="div2 song-card">
    <ng-container *ngIf="cancion?.lineas">
      <app-text-boxes
        [lines]="cancion.lineas"
        [bin]="this.binary"
        [tonalidad]="this.cancion.tonalidad"
        [block]="true"
      ></app-text-boxes>
    </ng-container>
  </div>
</div>

<div *ngIf="isLoading" class="centered-container">
  <div class="spinner-container">
    <mat-spinner diameter="40"></mat-spinner>
    <p>Cargando canción...</p>
  </div>
</div>
