<aside>
  <div class="contenedor">
    <!-- Contenedor de Acordes (Expandible con animación) -->
    <div
      class="acordes-container"
      [@expandir]="tonalidadExpandida ? 'expandido' : 'colapsado'"
    >
      <div
        *ngFor="
          let acorde of getAcordesDeTonalidad(tonalidadExpandida);
          let i = index
        "
        class="acorde-box"
      >
        {{ acorde }}
      </div>
    </div>

    <!-- Lista de Tonalidades -->
    <div class="tonalidades-container">
      <div
        *ngFor="let tonalidad of tonalidades"
        class="tonalidad-box"
        [class.seleccionada]="tonalidadExpandida === tonalidad"
        (click)="seleccionarTonalidad(tonalidad)"
      >
        {{ tonalidad }}
      </div>
    </div>
  </div>
</aside>
